#root {
  max-width: 1280px;
  margin: 100px auto;
  padding: 2rem;
}

.logo {
  margin-right: 1vw;
  margin-top: 2vh;
}

.menuLogo {
  margin-left: 45vw;
  margin-top: 0.2vh;
}

.App {
  background-color: rgb(3, 3, 41);
  width: 50vw;
  height: 50vh;
  padding: 1rem 3rem;
  color: white;
}

.icons {
  display: flex;
  justify-content: space-around;
}